

<header class="flex justify-between items-center px-[5%] mt-5">
  <h2 class="text-slate-300 text-2xl font-semibold">My Profile</h2>
  <app-social/>
</header>
<main class="mt-5 px-[5%] text-slate-300">

  <!-- seccion de presentacion -->
  <section class="flex flex-col items-center justify-center py-10 border-b">
    <div class="flex flex-col items-center justify-center text-center space-y-9 max-w-lg">
      <img class="max-w-xs rounded-lg brightness-75 " src="./../assets/images/photo-smalljpg.jpg" alt="photo profile">
      <h1 class="text-4xl font-semibold text-slate-200">Hi, I'm Henry and it's a pleasure to show you my portfolio.</h1>
      <p class="text-base leading-7">I am a front-end developer, passionate about creating applications that impact people's lives, using today's web technologies and learning new things every day.</p>
    </div>
  </section>

  <!-- seccion de habilidades -->
  <section class="border-b py-10">
    <ul class="grid grid-cols-1 gap-y-6 md:grid-cols-2 lg:grid-cols-4 md:space-y-0">
      <li class="text-center space-y-2 hover:scale-105" *ngFor="let item of technologiesList">
        <h2 class="text-slate-200 font-semibold text-3xl tracking-widest">{{item.title}}</h2>
        <p class="text-slate-500 text-base">{{item.experience}}</p>
      </li>
    </ul>
  </section>

  <section class="py-10">
    <h2 class="text-3xl font-semibold mb-8">Projects</h2>
    <ul class="grid grid-cols-1 items-center justify-items-center gap-y-8 md:grid-cols-2 lg:grid-cols-3">
      <li *ngFor="let item of projectList">
        <article class="max-w-md text-slate-200 h-[400px] md:max-w-xs">
          <figure class="h-52">
            <img class="w-full h-full object-cover" [src]="item.image" [alt]="item.title">
          </figure>
          <div class="mt-4">
            <h2 class="text-2xl">{{item.title}}</h2>
            <ul class="text-slate-400 text-base uppercase flex flex-wrap gap-x-5 my-5">
              <li *ngFor="let skill of item.skills">{{skill}}</li>
            </ul>
            <a [href]="item.url" target="_blank" class="font-bold text-slate-400 border-b border-b-slate-200 hover:text-slate-200 hover:cursor-pointer" >See live project</a>
          </div>
        </article>
      </li>
    </ul>
  </section>

</main>

<footer class="px-[5%] text-base text-slate-400 text-center h-16 py-4">
  <div class="flex items-center justify-center gap-x-12">
    <h3>Designed by Henry Salazar <strong>Front-end Developer junior</strong></h3>
    <app-social/>
  </div>
</footer>














