

<header class="flex justify-between items-center px-[5%] mt-5">
  <h2 class="text-slate-300 text-2xl font-semibold">My Profile</h2>
  <div class="flex items-center gap-x-3">
    <img class="w-10 h-10" src="./../assets/icons/linkedin_social_icon.png" alt="icon linkedin">
    <img class="w-12 h-12" src="./../assets/icons/github_icon.png" alt="icon github">
  </div>
</header>
<main class="mt-5 px-[5%] text-slate-300">

  <!-- seccion de presentacion -->
  <section class="flex flex-col items-center text-center space-y-9 py-10 border-b">
    <img class="max-w-xs rounded-lg brightness-75 " src="./../assets/images/photo-smalljpg.jpg" alt="photo profile">
    <h1 class="text-4xl font-semibold text-slate-200">Hi, I'm Henry and it's a pleasure to show you my portfolio.</h1>
    <p class="text-base leading-7">I am a front-end developer, passionate about creating applications that impact people's lives, using today's web technologies and learning new things every day.</p>
  </section>

  <!-- seccion de habilidades -->
  <section class="border-b py-10">
    <ul class="space-y-6 grid col-span-1">
      <li class="text-center space-y-2" *ngFor="let item of technologiesList">
        <h2 class="text-slate-200 font-semibold text-3xl tracking-widest">{{item.title}}</h2>
        <p class="text-slate-500 text-base">{{item.experience}}</p>
      </li>
    </ul>
  </section>

  <section class="py-10">
    <h2>Projects</h2>
    <ul>
      <li *ngFor="let item of projectList">
        <article>
          <img [src]="item.image" [alt]="item.title">
          <div>
            <h2>{{item.title}}</h2>
            <ul>
              <li *ngFor="let skill of item.skills">{{skill}}</li>
            </ul>
            <a href="">{{item.url}}</a>
          </div>
        </article>
      </li>
    </ul>
  </section>

</main>














